{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4 rounded-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">🔄 Parolni tiklash</h3>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <div class="mb-3">
        {{ form.password_confirm.label_tag }}
        {{ form.password_confirm }}
      </div>

      <div class="mb-3">
        {{ form.code.label_tag }}
        {{ form.code }}
      </div>

      <button type="submit" class="btn btn-warning w-100 rounded-3">Parolni yangilash</button>

      <div class="text-center mt-3">
        <a href="{% url 'login' %}">Kirish sahifasiga qaytish</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
