{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{{ category.name }}</h2>

{% if category.image %}
<img src="{{ category.image.url }}" width="100" height="100" alt="{% trans 'Kategoriya rasmi' %}">
{% endif %}

<h3>{% trans "Ushbu kategoriya kirimlari:" %}</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>{% trans "Summa" %}</th>
        <th>{% trans "Izoh" %}</th>
        <th>{% trans "Sana" %}</th>
        <th>{% trans "Amallar" %}</th>
    </tr>
    {% for income in incomes %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ income.amount }}</td>
        <td>{{ income.comment }}</td>
        <td>{{ income.date }}</td>
        <td>
            <a href="{% url 'update_income' income.pk %}" class="btn btn-sm btn-warning">{% trans "Tahrirlash" %}</a>
            <a href="{% url 'delete_income' income.pk %}" class="btn btn-sm btn-danger">{% trans "O‘chirish" %}</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">{% trans "Kirimlar mavjud emas" %}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'category_list' %}" class="btn btn-secondary">{% trans "Ortga" %}</a>
<a href="{% url 'add_income' category.id %}" class="btn btn-primary">{% trans "Yangi kirim qo‘shish" %}</a>
{% endblock %}
