{% extends "base.html" %}
{% block content %}
<h2>{{ category.name }} kategoriyasi chiqimlari</h2>
<p><strong>Jami chiqim:</strong> {{ total_expense }} so'm</p>
<a href="{% url 'add_expense' category.id %}" class="btn btn-primary mb-3">Yangi chiqim qo‘shish</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Miqdor</th>
            <th>Izoh</th>
            <th>Sana</th>
            <th>Amallar</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.comment }}</td>
            <td>{{ expense.date }}</td>
            <td>
                <a href="{% url 'update_expense' expense.pk %}" class="btn btn-sm btn-warning">Tahrirlash</a>
                <a href="{% url 'delete_expense' expense.pk %}" class="btn btn-sm btn-danger">O‘chirish</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Hozircha chiqim mavjud emas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
